# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/skyward-realms/[Ll]ibrary/
/skyward-realms/[Tt]emp/
/skyward-realms/[Oo]bj/
/skyward-realms/[Bb]uild/
/skyward-realms/[Bb]uilds/
/skyward-realms/[Ll]ogs/
/skyward-realms/[Uu]ser[Ss]ettings/
/skyward-realms/[Mm]emoryCaptures/
/skyward-realms/[Rr]ecordings/
/skyward-realms/[Aa]ssets/AssetStoreTools*
/skyward-realms/[Aa]ssets/Plugins/Editor/JetBrains*
/skyward-realms/.vs/
/skyward-realms/.gradle/
/skyward-realms/ExportedObj/
/skyward-realms/.consulo/
/skyward-realms/*.csproj
/skyward-realms/*.unityproj
/skyward-realms/*.sln
/skyward-realms/*.suo
/skyward-realms/*.tmp
/skyward-realms/*.user
/skyward-realms/*.userprefs
/skyward-realms/*.pidb
/skyward-realms/*.booproj
/skyward-realms/*.svd
/skyward-realms/*.pdb
/skyward-realms/*.mdb
/skyward-realms/*.opendb
/skyward-realms/*.VC.db
/skyward-realms/*.pidb.meta
/skyward-realms/*.pdb.meta
/skyward-realms/*.mdb.meta
/skyward-realms/sysinfo.txt
/skyward-realms/*.apk
/skyward-realms/*.aab
/skyward-realms/*.unitypackage
/skyward-realms/*.app
/skyward-realms/crashlytics-build.properties
/skyward-realms/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/skyward-realms/[Aa]ssets/[Ss]treamingAssets/aa.meta
/skyward-realms/[Aa]ssets/[Ss]treamingAssets/aa/*
*.vs/